
h1, p {
    color: chocolate;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


h1 {
    font-size: 4rem;
}

p {
    font-size: 2rem;
}

