/* p:nth-child(1) {
    color: brown
}

p:nth-of-type(2) {
    color: brown
}

p:first-of-type {
    color: darkorange;
}
*/

:root {
    --color-base : salmon;
    --color-texto: maroon;
}

* {
    color: black;
    border: 1px solid;
}

*:not(p) {
    color: var(--color-texto);
}

p:not(:first-of-type )
{
    border: 1px solid;
}