@import url('https://fonts.googleapis.com/css?family=Coiny');

body {
    font-family: 'Roboto', Calibri, sans-serif
}

.container {
    width: 90%;
    max-width: 1080px;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

header h1 {
    font-family: 'Coiny', cursive;
    font-size: 3rem;
    margin-bottom: 0.1rem;
}

header p {
    color: maroon;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-style: italic;
    font-weight:bold;
}
/*
footer p {
    color: navy
} */

q {
    quotes: '\00AB' '\00BB' ;
}

p {
    width: 30%;
}