.control-group {
    padding: 0.4rem;
}
.control-group label {
    display: inline-block;
    width: 20%;
    min-width: 10rem;
}
.control-group input:not([type="button"]) {
    width: 40%;
    min-width: 10rem;
}
.ocultar {
    display: none;
}